{% extends "espetocarioca/base.html" %}

{% block title %}Comandas Softlabs{% endblock %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>Comandas Softlabs</h1>
        <p class="welcome-message">
            <b>É um prazer tê-lo conosco! Explore nossos serviços e produtos abaixo.</b>
        </p>
        <h1>Tutorial: Adicionando Itens ao Cardápio e Incluindo na Comanda</h1>

        <h2>Passo 1: Adicionar Itens ao Cardápio</h2>
        <p>1. <strong>Acesse o Menu Superior</strong>: No seu aplicativo, vá até o menu superior.</p>
        <p>2. <strong>Atualizar Valores do Cardápio</strong>: Clique na opção <strong>CARDÀPIO</strong> para atualizar o cardápio. Você poderá
            adicionar novos itens com seus respectivos valores.</p>
        <p>3. <strong>Preencha as Informações</strong>: Certifique-se de preencher corretamente o nome do item e o
            preço.</p>
        <p>4. <strong>Salvar as Alterações</strong>: Após adicionar os itens, não se esqueça de salvar as alterações.
        </p>

        <h2>Passo 2: Incluir Itens na Comanda</h2>
        <p>1. <strong>Acesse a Comanda</strong>: Vá até a página da comanda correspondente (por exemplo, Mesa 01 ou Mesa
            02).</p>
        <p>2. <strong>Selecionar Itens do Cardápio</strong>: Utilize o menu suspenso para escolher os itens que você
            adicionou ao cardápio.</p>
        <p>3. <strong>Especificar a Quantidade</strong>: Informe a quantidade desejada de cada item.</p>
        <p>4. <strong>Adicionar à Comanda</strong>: Clique no botão "Adicionar" para incluir o item automaticamente na
            sua comanda.</p>

        <h2>Dicas Importantes</h2>
        <p>- <span class="important">Sempre Verifique os Valores</span>: Certifique-se de que os valores no cardápio
            estão atualizados antes de adicionar itens à comanda.</p>
        <p>- <span class="important">Ajuda e Suporte</span>: Se você tiver alguma dúvida ou precisar de assistência,
            entre em contato com o Administrador pelo WhatsApp: <strong>9 9320-3139</strong>.</p>
        <p>
            <!--img src="/static/images/espetocarioca.webp" style="width: 800px;"-->
        </p>


    </div>
</div>
{% endblock %}

<style>
    .container {
        text-align: center;
        margin: 20px;
    }

    .header {
        margin-bottom: 20px;
    }

    h1 {
        margin-bottom: 10px;
    }

    .welcome-message {
        font-size: 18px;
        margin-bottom: 20px;
    }
</style>